#deepFooter{
    display: flex;
    gap: 20px; 
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #fbffe3;
    padding: 10px 0px;
}

#postlogos{
    display: flex;
    gap: 10px;
}

#adminFooterLink a{
text-decoration: none;
color: black;
}