.navbar{
    /* background-color: #3f309a; */
    background-color: #fbffe3;
    /* background-color: #7addf1; */
}
.brand img{
    height: 40px;
    background-color: white;
    padding: 0px 10px;
    border-radius: 25px;
}
.brand img:hover{
    transform: scale(1.05);
    background-color: white;
}

#NavbarLinks{
    display: flex;
    gap: 10px;
}

#NavbarLinks .dropdown{
    background-color: #fbffe3;
    color: black;
    border-radius: 15px;
}

#NavbarLinks .btn{
    color: black;
}
.list_item{
    color: black !important;
    text-decoration: none;
    font-weight: 500;
}
.list_item:hover{
    color: #3f309a !important;
}
.btn{
    background-color: #3f309a !important;
    border: none;
    border-radius:10 20px;
    padding: 5px 20px;
}
.btn:hover{
    transform: scale(1.05);
    background-color: #312293 !important;
}

button.navbar-toggler.collapsed{
    background-color: white !important;
}
button.navbar-toggler{
    background-color: #fff !important;
}