
#mainMedicalCodingHeaderDiv{
    background-image: url("https://tailwindcss.com/_next/static/media/docs@tinypng.d9e4dcdc.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ece6fc;
}

#MedicalCodingHeaderDiv{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items:center;
    padding: 70px 60px;
    justify-content:center;
    width: 90%;
    margin: auto;
}

.MedicalCodingHeaderDivContent>h1{
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
    animation-name: moveUp;
    animation-duration: 0.4s;
    color: #1c3470;
}


.MedicalCodingHeaderDivContent img{
    width: 30%;
    border-radius: 5px;
    margin-left: 400px;
    animation-name: moveUp;
    animation-duration: 0.9s;
}


@media screen and (max-width: 800px) {
    #MedicalCodingHeaderDiv{
        width: 80%;
        margin: auto;
    }

    .MedicalCodingHeaderDivContent>h1{
        font-size: 35px;
    }

    .MedicalCodingHeaderDivContent img{
        width: 30%;
        border-radius: 5px;
        margin-left: 200px;
    }
}

@media screen and (max-width: 600px) {
    #MedicalCodingHeaderDiv{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        gap: 30px;
        justify-content: center;
    }

    .MedicalCodingHeaderDivContent>h1{
        font-size: 25px;
    }

    .MedicalCodingHeaderDivContent img{
        width: 40%;
        border-radius: 5px;
        margin-left: 0px;
    }
}
