#usersListContainer {
    width: 100%;
    padding: 20px;
    background-image: url("https://paper-leaf.com/app/uploads/2010/02/Gears1280.jpg");
    height: 720px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  
  #FilteringAndSorting{
    width: 30%;
    padding-top: 20px;
  }
  #allUserDataContentDiv{
    width: 70%;

  }
  #allUserListDiv{
    width: 100%;
    margin: auto;
    padding: 20px;
    height: 500px;
    overflow:auto;
    margin-bottom: 20px;
  }
  

.styled-table{
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    padding: 20px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.styled-table thead tr{
    background-color: #3f309a;
    color: white;
    text-align: left;
    
}

.styled-table th, .styled-table td{
    padding: 12px 15px;
}

.styled-table tbody tr{
    border-bottom: 1px solid gray;
    background-color: white;
    text-transform: capitalize;
    text-align: center;
}

/* .styled-table tbody tr:nth-of-type(even){
    background-color: rgb(232, 232, 232);
} */

.styled-table tbody tr:hover{
    background-color: #f0f0f0;
}

.styled-table tbody tr:last-of-type{
    border-bottom: 2px solid green;
}


.btn-delete{
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
    background-color: rgb(248, 70, 70);
}
.btn-delete:hover{
    background-color: rgb(226, 33, 33);
    transform: scale(1.02);
}

.btn-view{
    background-color: wheat;
    color: black;
}
.btn-view:hover{
    background-color: rgb(241, 202, 131);
    color: black;
    transform: scale(1.05);
}

.btn-contact{
    background-color: #e82764;
    margin-bottom: 10px;
}